.container {
    box-sizing: border-box;
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: var(--backgroundColor);*/
}

.wrapper {
    color: var(--darkTextColor);
    width: var(--widthContainer);
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    line-height: 1;
    font-family: "Gloock", sans-serif;
}

.titleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-bottom: 16px;
    font-size: 36px;
    font-weight: 600;
}

.secondary {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 300;
    opacity: 0.8;
    letter-spacing: 1.1px;
}

.image {
    width: 600px;

}
